spring:
    cloud:
        gateway:
            server:
                webflux:
                    discovery:
                        locator:
                            enabled: true   # Habilita el ruteo dinámico con Eureka
                            lower-case-service-id: true   # Convierte los nombres a minúscula (más limpio en las rutas)
                    default-filters: TokenRelay

    security:
        oauth2:
            client:
                provider: 
                    keycloak:
                        issuer-uri: http://${KEYCLOAK_HOST:localhost}:${KEYCLOAK_PORT:9090}/realms/myturnapp-microservices-realm
                registration:
                    spring-cloud-gateway-client:
                        client-id: spring-cloud-gateway-client
                        client-secret: TY9ZR7OLobEUB2Pny7NWSxZdVHUptt3J 
                        provider: keycloak
                        authorization-grant-type: authorization_code
                        redirect-uri: http://${INSTANCE_HOSTNAME:localhost}:${INSTANCE_PORT:8080}/login/oauth2/code/spring-cloud-gateway-client
                        scope:
                            - openid
                            - profile
                            - email
            resourceserver:
                jwt:
                    issuer-uri: http://${KEYCLOAK_HOST:localhost}:${KEYCLOAK_PORT:9090}/realms/myturnapp-microservices-realm

eureka:
    instance:
        hostname: ${INSTANCE_HOSTNAME:localhost}
        instance-id: ${spring.application.name}:${random.uuid}
        prefer-ip-address: true
    client:
        register-with-eureka: true
        fetch-registry: true
        service-url: 
            defaultZone: http://${eureka.instance.hostname}:8761/eureka/
server:
    port: 8080