spring:
    application:
        name: api-gateway
    config:
        import: "configserver:"
    cloud:
        config:
            uri: http://${CONFIG_SERVER_HOST:localhost}:8888
            fail-fast: true